<% if @business.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h3>
 
    <ul>
    <% @business.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%=form_for([@neighborhood, @business]) do |f| %>

<%=f.label :neighborhood%><br>
  <%=f.collection_select :neighborhood_id, Neighborhood.all, :id,  :name, :include_blank => 'choose a neighborhood' %><br><br>
  
<%=f.label :category%><br>
  <%=f.collection_select :category_id, Category.all, :id,  :name, :include_blank => 'choose a category' %>

<h5>or create one</h5>

  <%=f.fields_for :category do |c|%>
     <%=c.label :name%>
     <%=c.text_field :name%>

  <%end%><br><br>

      
  <%=f.label :business_name%><br>
  <%=f.text_field :name%><br><br>

  <%=f.label :description%><br>
  <%=f.text_area :description%><br><br>

  <%=f.label :website%><br>
  <%=f.text_field :website%><br><br>

  <%=f.label :phone_number%><br>
  <%=f.text_field :phone_number%><br><br>

  <%=f.label :username%><br>
  <%=f.text_field :user_name%><br><br>





   <%=f.submit%>

<%end %>

