<div class ="neighborhood-index">
<div  class = "navbar">
<%=link_to "See all businesses", businesses_path%>
<%=link_to "Add a neighborhood", new_neighborhood_path%>
</div>

<h1>All Neighborhood</h1>
 <div class="search-nabe">
    <%= form_tag('/neighborhoods', method: 'get') do %>
      <%=text_field_tag(:q)%> 
      <%=submit_tag("Search for a neighborhood")%>
    <%end%>
</div>

<div class="all_nabes">
    <%@neighborhoods.each do |n|%>
      <%=link_to "#{n.name}, #{n.city} #{n.state}", neighborhood_path(n)%>
    <%end%>
</div>
</div>
<%=image_tag("residential-houses-exterior-suburb-district_107791-3301.jpg")%>
