<!DOCTYPE html>
<html >
  <head>
    <%# <a src= "/">
    <title>NabeB</title>
    </a>
     %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
    
    <% flash.each do |name, msg| -%>
     <div class="error_messages"> <%= content_tag :div, msg, class: name %> </div>
    <% end%>
   
    
  

  <body>

   <h1>NABE B</h1>
 
    <h2><%=display_username_header%></h2>
   
    <%if logged_in?%>
   
       <%=button_to("Log Out", '/logout', method: 'delete', class: "logout-button")%>
       <%=link_to "Your account", user_path(current_user), class: "delete-button"%>
      
    <%else%>
      <div class="navbar">
        <%=link_to "Sign up", signup_path, class: "nav-bar-link"%>
        <%=link_to "Login",login_path,  class: "nav-bar-link" %>
      </div>
    <%end %>
   
    
    <%= yield %>
  </body>
</html>
