<!DOCTYPE html>
<html>
  <head>
    <title>NabeB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/navbar' %>

    <% flash.each do |name, msg| -%>
      <div class="error_messages"> <%= content_tag :div, msg, class: name %> </div>
    <% end %>

    <%= yield %>

  </body>

  <div class="copyright">2021 &#169;Claudia Vamesu Halip</div>
</html>
