<!DOCTYPE html>
<html>
  <head>
    <title>NabeB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
    
    <% flash.each do |name, msg| -%>
     <div class="error_messages"> <%= content_tag :div, msg, class: name %> </div>
    <% end%>
   
    
  

  <body>
    <h4><%=display_username_header%>
  
    <%if logged_in?%>
       <%=link_to("Log Out", '/logout', method: 'delete')%>
       <%=link_to "Your account", user_path(current_user)%>
    <%else%>
      <%=button_to "Log in with Google",'/auth/google_oauth2'%>
      <%=link_to "Sign up", signup_path%>
      <%=link_to "Login",login_path %>
    <%end %>
    
    <%= yield %>
  </body>
</html>
